<body class='particles-header'>
<center><h3> Orders !! <h3><center>
<% @lineitems.in_groups_of(4, false).each do |group| %>
  <div class='row',style="background-color: #FFF;color: #9d9d9d;">
    <% group.each do |lineitem| %>
      <div class='col-md-3'>
        <div class="card bg-dark text-white" style="width: 14rem;">
        <%= image_tag(lineitem.product.images.first.thumb.url.gsub("%5B%22", '').gsub("%22%5D",''), class: "card-img-top") if lineitem.product.images.any? %>
        <div class="card-body">
          <%= lineitem.product.name %>
          <div>Quantity: <%= lineitem.total %></div>
          <div>Paid: <%= number_to_currency(lineitem.total) %></div>
          <div> Seller: <%= sanitize(lineitem.product.user.name) %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br><br><br>
<% end %>
</body>
