<body class='particles-header'>
<% @products.in_groups_of(4, false).each do |group| %>
  <div class='row'>
    <% group.each do |product| %>
      <div class='col-md-3'>
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <h3><%= product.name %></h3>
        <div><%= sanitize(product.status) %></div>
        <div><%= number_to_currency(product.price) %></div>
        <%= button_to 'Add to Cart', products_path, class: 'btn btn-info btn-sm', remote: true %>
      </div>
    <% end %>
  </div>
<% end %>
