<body class='particles-header'>
<center><h3> Happy Shopping !! <h3><center>
<% @products.in_groups_of(4, false).each do |group| %>
  <div class='row',style="background-color: #FFF;color: #9d9d9d;">
    <% group.each do |product| %>
      <div class='col-md-3'>
        <div class="card bg-dark text-white" style="width: 14rem;">
          <% if product.status == 'Sold' %>
            <div class="badge badge-danger"><%= product.status %></div>
          <% else %>
            <div class="badge badge-success"><%= product.status %></div>
          <%end%>
        <%= image_tag(product.images.first.thumb.url.gsub("%5B%22", '').gsub("%22%5D",''), class: "card-img-top") if product.images.any? %>
        <div class="card-body">
          <h3><%= product.name %></h3>
          <div><%= number_to_currency(product.price) %></div>
          <div>Qty <%= product.quantity %></div>
          <%= button_to 'Buy', product_path(product), method: :get, class: 'btn btn-info btn-sm'%>
          <div> Seller - <%= sanitize(product.user.name) %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br><br><br>
<% end %>
