<body class='particles-header'>
<center><h3 > You own the products listed in this page. <h3><center>
<% @products.in_groups_of(4, false).each do |group| %>
  <div class='row',style="background-color: #FFF;color: #9d9d9d;">
    <% group.each do |product| %>
      <div class='col-md-3'>
        <div class="card bg-dark text-white" style="width: 14rem;">
        <div class="badge badge-primary"><%= product.status %></div>
        <%= image_tag(product.images.first.thumb.url.gsub("%5B%22", '').gsub("%22%5D",''), class: "card-img-top") if product.images.any? %>
        <div class="card-body">
          <h3><%= product.name %></h3>
          <div><%= number_to_currency(product.price) %></div>
          <div>Qty <%= product.quantity %></div>
          <div><%= link_to "Edit", edit_product_path(product), class: "btn btn-primary btn-sm"%>
          <%= link_to 'Delete', product_path(product), data: {:confirm => 'This action will delete your product.'}, :method => :delete, class: "btn btn-danger btn-sm" %> </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br><br><br>
<% end %>
